[submodule "Linkhub"]
	path = Linkhub
	url = https://github.com/linkhub-sdk/linkhub.auth.delphi
[submodule "Popbill"]
	path = Popbill
	url = https://github.com/linkhub-sdk/popbill.base.delphi
[submodule "PopbillAccountCheck"]
	path = PopbillAccountCheck
	url = https://github.com/linkhub-sdk/popbill.accountcheck.delphi
